BreakBeforeBraces: Custom
IncludeBlocks: Preserve
IndentWidth: 4
BraceWrapping:
    AfterEnum: false
    AfterStruct: false
    AfterFunction: false
    BeforeElse: true
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: false
